@font-face {
    font-family: "SoDoSans-SB";
    src: url(./SoDoSans-SemiBold.woff);
}

@font-face {
    font-family: "SoDoSans-B";
    src: url(./SoDoSans-Bold.woff);
}
@font-face {
    font-family: "SoDoSans-R";
    src: url(./SoDoSans-Regular.woff);
}

    