.product-speedbar {
    background-color: #f9f9f9;
    padding: 16px 0;
    font-size: 14px;
    color: #000000DE;
    font-family: 'SoDoSans-R';
    margin-top: 2px;
}

.product-speedbar a {
    color: #000000DE;
    font-family: 'SoDoSans-R';
}

.product-speedbar span {
    font-family: 'SoDoSans-SB';
}

.product-background {
    background-color: #1f3933;
}

.product-inner-item {
    display: flex;
    align-items: center;
    padding: 16px 0;
    gap: 180px;
}

.product-inner-item-title {
    font-size: 28px;
    font-family: 'SoDoSans-B';
    padding-bottom: 16px;
    color: #fff;
    line-height: 1.3;
}

.product-inner-item-img img {
    width: 180px;
    height: 180px;
    border-radius: 50%;
}

.product-inner-item-img {
    width: 45%;
    text-align: center;
}

.product-inner-item-info {
    width: 45%;
}

.product-inner-item-calorie {
    color: #ffffffb2;
    font-size: 19px;
    padding-bottom: 4px;
    font-family: 'SoDoSans-R';
}

.product-inner-item-content {
    padding: 32px 0;
    display: flex;
    justify-content: space-between;
}

.product-inner-item-left-side h3,
.product-inner-item-right-side h3 {
    color: #000000DE;
    font-size: 24px;
    font-family: 'SoDoSans-SB';
    border-bottom: 4px solid #d4e9e2;
    padding-bottom: 12px;
}

.product-inner-item-left-side,
.product-inner-item-right-side {
    width: 40%;
}

.product-sizes {
    display: flex;
    justify-content: center;
    gap: 40px;
    padding: 30px 0;
}

.product-size {
    text-align: center;
    cursor: pointer;
}

.product-size-name {
    font-family: 'SoDoSans-SB';
    font-size: 16px;
    color: #000000DE;
    padding: 5px 0;
}

.product-size-capacity {
    font-size: 14px;
    color: #000000DE;
    font-family: 'SoDoSans-R';
}

.product-location {
    font-family: 'SoDoSans-R';
    color: #00000094;
    margin: 10px 0;
    display: flex;
    align-items: center;
    gap: 4px;
}

.product-location-icon svg {
    width: 20px;
    height: 20px;
    fill: #00000094;
}

.animated-input {
    border: 1px solid #00000094;
    border-radius: 8px;
    position: relative;
    margin: 6px 4px;
    font-family: 'SoDoSans-R';
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
}

.animated-input select {
    display: block;
    width: 100%;
    border: 0;
    background: transparent;
    outline: 0;
    padding: 13px 16px;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    font-size: 20px;
    cursor: pointer;
}
.animated-input option {
    font-size: 16px;
}

.animated-input span {
    position: absolute;
    top: -5px;
    left: 12px;
    background-color: #fff;
    font-size: 14px;
    padding: 0 4px;
    color: #00000094;
}

.animated-input .select-icon {
    position: absolute;
    z-index: -1;
    right: 16px;
    width: 24px;
    height: 24px;
}
.animated-input .select-icon svg path{
    position: absolute;
    right: 16px;
    width: 24px;
    height: 24px;
    fill: green;
}
.circle-animation {
    position: 'relative';
    /* margin: 10px 0 */
}
.select-list {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin: 18px 0;
}



.md-click-circle {
    display: block;
    position: absolute;
    background: #d4e9e2;
    border-radius: 50%;
    opacity: 0;
    -webkit-animation: scale(0);
    -moz-transform: scale(0);
    transform: scale(0);
}

.md-click-circle.md-click-animate {
    -webkit-animation: mdClickEffect .65s linear;
    -moz-animation: mdClickEffect .65s linear;
    animation: mdClickEffect .65s linear;
}

@-webkit-keyframes mdClickEffect {
    0% {
        opacity: 1;
        -webkit-transform: scale(0);
    }

    100% {
        opacity: 0 !important;
        -webkit-transform: scale(2.5);
    }
}

@-moz-keyframes mdClickEffect {
    0% {
        opacity: 1;
        -webkit-transform: scale(0);
    }

    100% {
        opacity: 0 !important;
        -moz-transform: scale(2.5);
    }
}

@keyframes mdClickEffect {
    0% {
        opacity: 1;
        -webkit-transform: scale(0);
    }

    100% {
        opacity: 0 !important;
        transform: scale(2.5);
    }
}

/**********OTHERS************/
.material-click:not(.md-skip) {
    overflow: hidden;
}

.material-on-me:not(.md-skip) {
    position: relative;
}

.add-to-cart-bar {
    width: 100%;
    padding: 22px 0;
    background-color: #1e3932;
    position: fixed;
    bottom: 0;
    z-index: 3;
    display: flex;
    justify-content: center;
    gap: 40px;
    font-family: 'SoDoSans-R';
}
.product-content {
    position: relative;
}
.product-cart-icon img {
    background-image: url('https://www.starbucks.com/app-assets/d21adfaa60a934de88eb1cc00c315e52.svg');
}
.product-location-select {
    border-bottom: 2px solid #627570;
    display: flex;
    align-items: center;
    gap: 50px;
}
.product-location-select-title h5 {
    color: #ffffffb3;
}
.product-location-select-title p {
    color: #fff;
    font-family: 'SoDoSans-B';
    padding: 8px 0;
}
.product-location-select-icon path {
    fill: #fff;
}