footer {
    padding: 24px 0;
    box-shadow: rgba(0, 0, 0, 0.1) 0px -1px 3px, rgba(0, 0, 0, 0.06) 0px -2px 2px, rgba(0, 0, 0, 0.07) 0px 0px 2px;
}
.footer-top {
    display: flex;
    gap: 32px;
}
.footer-box {
    width: 16%;
    font-family: 'SoDoSans-R';
}
.footer-box h3 {
    font-size: 19px;
    margin-bottom: 24px;
}
.footer-box li {
    padding: 12px 0;
    margin-bottom: 8px;
    letter-spacing: 0.2px;
}
.footer-box li a {
    color: #00000094;
    transition: .1s;
}
.footer-box a:hover {
    color: #000000DE;
}
.footer-line {
    border-top: 2px solid #E5E5E5;
    margin: 32px 0;
}
.footer-socials img {
    width: 32px;
    height: 32px;
}
.footer-socials ul {
    display: flex;
    gap: 15px;
}
.footer-socials ul a {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #000;
    color: #fff;
    width: 32px;
    height: 32px;
    border-radius: 50%;
}
.footer-socials ul svg {
    width: 19px;
    height: 19px;
}
.footer-socials ul li {
    transition: .3s;
    border-radius: 50%;
    position: relative;
}
.footer-socials ul li:after {
    content: '';
    transition: .2s;
    width: 2px;
    height: 2px;
    position: absolute;
    background-color: #e9e9e9;
    z-index: -1;
    border-radius: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.footer-socials ul li:hover::after  { 
    width: 44px;
    height: 44px;
}

.footer-bottom-links {
    padding: 30px 0;
    font-family: 'SoDoSans-R';
}
.footer-bottom-links ul {
    display: flex;
    gap: 20px;
}
.footer-bottom-links ul a {
    color: #000000DE;
}
.footer-bottom-links ul a:hover {
    text-decoration: underline;
}
.footer-bottom-links li:nth-child(2),
.footer-bottom-links li:nth-child(3),
.footer-bottom-links li:nth-child(4),
.footer-bottom-links li:nth-child(5) {
    border-left: 1px solid black;
    padding-left: 20px;
}
.copyright {
    font-family: 'SoDoSans-R';
    font-size: 14px;
    color: #00000094;
}

